<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpYUC-5rnQCq5bkoWonnkF-YFU_Lo7oIw</string>
	<key>GCM_SENDER_ID</key>
	<string>838873073366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.healthtechaccessibility.alsapp</string>
	<key>PROJECT_ID</key>
	<string>healthtech-accessibility</string>
	<key>STORAGE_BUCKET</key>
	<string>healthtech-accessibility.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838873073366:ios:4ba50ef47de891bf016b77</string>
</dict>
</plist>